// ─── Цвета ───
$color-primary: #646cff;
$color-primary-hover: #535bf2;
$color-primary-shadow: rgba($color-primary, 0.67);
$color-vanilla-shadow: rgba(#f7df1e, 0.67);
$color-dark-bg: #1a1a1a;
$color-dark-page-bg: #242424;
$color-light-text: #213547;
$color-light-page-bg: #ffffff;
$color-light-btn-bg: #f9f9f9;
$color-muted: #888;

// ─── Типографика ───
$font-family-base: Inter, Avenir, Helvetica, Arial, sans-serif;
